extends iframe-layout

block mainContent
    div(id='container')
        h1=thankYou
        !=pleaseGo
        br
        !=weUsually
        ul
            li!=yourTurker
            li!=theHIT 
            li!=yourExitCode
            li!=yourBrowser
        br
        p#win 
        p#exitcode 
        p=notice
        input(type='button', id='read', value="Click to finish", class='btn btn-lg btn-primary')