extends iframe-layout
block mainContent
   div(id='container')
      h1=instructions
      div(id='instructions')
         ol(type = 'a')
            li!= a
            li!= b
            li!= c
            li!= d
            li!= e
            li!= f
            li!= g
            br
            br
            font(size="5%",)i!=g1
            br
            br
            li!=h
            li!=i
         br
         = ifYouUnderstood
         br
         br
         input(type='button', id='read', value=proceed, class='btn btn-lg btn-primary')

//Created by joseorellana on 02-12-15.

