extends iframe-layout
block mainContent
   div(id='container')
      h1=Module
      style.
         td {text-align: center;}
         table {border-collapse: collapse;}

         table, th, td {
              border: 1px solid black;
         }
      div(id='module4')
         br
         =instText
         table(border='3px solid', width="100%", font-size="40%")
            tr 
                td
                td(colspan="2") Option A
                td
                td(colspan="2") Option B
                td
            tr
                td(width="7%")
                td(width="20%")=valorA1
                td(width="20%")=valorA2
                td(width="6%")
                td(width="20%")=valorB1
                td(width="20%")=valorB2
                td(width="7%")
            each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
              tr
                  td
                      input(type="radio", value='A',name='Question' + val , id = "answerA" + val) 
                  td= val*10 + "%"
                  td= (10 - val) *10 + "%"
                  td 
                  td= val*10 + "%"
                  td= (10 - val) *10 + "%"
                  td
                      input(type="radio", value='B',name='Question' + val , id = "answerB" + val)

         br
         br
         input(type='button', id='read', value=proceed, class='btn btn-lg btn-primary')
         .modal(id='ERROR')
            .modal-dialog.modal-lg
               .modal-content(style=".modal-content")
                  .modal-header
                     button(type="button", class="close", data-dismiss="modal",aria-label="Close")
                     span(aria-hidden="true") &times;
                  .modal-body(style=".modal-body")
                     =error
                  .modal-footer
                  button(type="button", class="btn btn-primary", data-dismiss="modal")=errorClose

//Created by akitaka.matsuo on 03-11-2016.

