extends iframe-layout
block mainContent
    style. 
      .outcome {
          margin-left: 10px;
      }
    div(id='container')
      h1=Module
      div(id='results')
         p=text1
          span#round.outcome
         p=text2
          span#numberCorrect.outcome
         p=text3
          span#preEarnings.outcome
         p=text4
          span#declareEarnings.outcome
         p Audit: 
          span#revision(style="font-weight:bold").outcome
         p=text5
          span#taxPaid.outcome
         br
         P=text6
          span#finalEarnings.outcome
         br
         p(style="font-weight:bold")=text7
          span#totalEarnings.outcome
         br
         br
         input(type='button', id='read', value=proceed, class='btn btn-lg btn-primary')

//
   Created by joseorellana on 07-02-16.

