extends iframe-layout
block mainContent
   style. 
      .outcome {
          margin-left: 10px;
      }
   div(id='container')
      h1=Module
      div(id='results')
         br
         p=text1
          span#numberCorrect.outcome
         p=text2
          span#preEarnings.outcome
         p=text3
          span#declareEarnings.outcome
         
         p Audit:
          span#revision(style="font-weight:bold").outcome
         p=text4
          span#taxPaid.outcome
         p=text5
          span#finalEarnings.outcome
         p=text6
          span#redistribution.outcome
         p=text7
          span#totalEarnings.outcome

         br
         br
         input(type='button', id='read', value=proceed, class='btn btn-lg btn-primary')
      


//
   Created by joseorellana on 08-01-16.

