extends iframe-layout
block mainContent
   div(id='container')
      h1=Module
      div(id='results')
         br
         p=text1
         span#numberCorrect
         br
         p=text2
         span#totalEarnings
         br
         p=text3
         span#taxPaid
         br
         P=text4
         span#revision(style="font-weight:bold")
         br
         P=text5

         br
         br
         input(type='button', id='read', value=proceed, class='btn btn-lg btn-primary')

//
   Created by joseorellana on 08-01-16.

