extends iframe-layout
block mainContent
   div(id='container')
      h1=Module
      div(id='results')
         br
         p=text1
         span#round
         br
         p=text2
         span#numberCorrect
         br
         p=text3
         span#preEarnings
         br
         p=text4
         span#declareEarnings
         br
         span#revision(style="font-weight:bold")
         P=text5
         span#taxPaid
         br
         P=text6
         span#finalEarnings
         br
         p=text7
         span#totalEarnings
         br
         br
         input(type='button', id='read', value=proceed, class='btn btn-lg btn-primary')
//
   Created by joseorellana on 07-02-16.

