extends iframe-layout
block mainContent
   div(id='container')
      h1=Module
      div(id='results')
         br
         p#choise=text1
         br
         p#selection=text2
         br
         p#earnings=text3
         br
         br
         input(type='button', id='read', value=proceed, class='btn btn-lg btn-primary')
//
   Created by joseorellana on 07-02-16.

